@import "../../App.scss";


.container__navbar {
    display: flex;
    width: 100%;
   
    .left__navbar {
        display: flex;
        align-items: center;
        gap: 1rem;

        .left__navbar__logo {

        }

        .left__navbar__search {
            
            form {
                color: #555;
                display: flex;
                padding: 2px;
                border: 1px solid currentColor;
                border-radius: 5px;

                input[type="search"] {
                    border: none;
                    background: transparent;
                    margin: 0;
                    padding: 7px 8px;
                    font-size: 14px;
                    color: inherit;
                    border: 1px solid transparent;
                    border-radius: inherit;
                }
                  
                  input[type="search"]::placeholder {
                    color: #bbb;
                }

                button[type="submit"] {
                    text-indent: -999px;
                    overflow: hidden;
                    width: 40px;
                    padding: 0;
                    margin: 0;
                    border: 1px solid transparent;
                    border-radius: inherit;
                    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
                    cursor: pointer;
                    opacity: 0.7;
                }
                  
                  button[type="submit"]:hover {
                    opacity: 1;
                }

                  button[type="submit"]:focus,
                  input[type="search"]:focus {
                    box-shadow: 0 0 3px 0 #1183d6;
                    border-color: #1183d6;
                    outline: none;
                }
            }
            
        }

        .left__navbar__menu ul {
            display: flex;
            gap: 1rem;
            margin: 0;
            padding: 0;
            list-style-type: none;
            color : #5a5a5a;
            font-size: 24px;
            cursor: pointer;

            .left__navbar__menu li {
                border-bottom: 1px solid #4A6D9B;
                margin-left: 0;
                padding: 5px;
                // cursor: pointer;
            }

            .left__navbar__menu li a {
                display: block;
                padding-left: 10px;
                color: #fff;
                text-decoration: none;
            }
        }
        
    }

    .right__navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-left: auto;

        .right__navbar__user__avatar {
            display: flex;
            align-items: center;
            height: 100%;

            img {
                width: 2rem;
            }

        }

        

        .right__navbar__settings {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;

            img {
                width: 2rem;
            }

        }

        
    }

    .right__navbar__burger.close {
        display: none;
    }

    @media screen and (max-width: $small-screen) {
        .left__navbar {
            .left__navbar__menu  {
                display: none;
            }

            .left__navbar__search {
                display: none;
            }
        }

        .right__navbar {
            display: none;
        }

    
    }

    @media screen and (max-width: $medium-screen) {
        .left__navbar {
            .left__navbar__menu  {
                display: none;
            }

            .left__navbar__search {
                display: none;
            }
        }

        .right__navbar {
            display: none;
            
            

            
        }

        .right__navbar__burger {
            
        }
    }

    .burger__navbar {
        display: flex;
        
        

        
    }

}