
.card__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 0.5rem;
    width: 15rem;
    flex-grow: 1;

    .card__right {
        height: 100px;
        .card__btn {
            height: 100%;
            width: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            border-radius: 0.5rem;
            padding: 0.5rem 1rem;
            background-color: #4E4DE3;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
                background-color: #ddd;
            }
        }
    }
    
}
